In [3]:
import platform 
print(platform.python_version())

3.6.9

In [4]:
print("hello world")

hello world

In [11]:
x=3
print(x)
print(type(x))

3
<class 'int'>

In [12]:
print(x+1)
print(x*2)

4
6

In [13]:
x += 1
print(x)
x *=2
print(x)

4
8

In [14]:
y=2.5
print(type(y))

<class 'float'>

In [18]:
x = 100000000000000
print(type(x))
x = 10.0
print(type(x))
x = -1.0 + 1.0j
print(type(x))
x = '10.0'
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [19]:
t,f = True, False
print(type(t))

<class 'bool'>

In [20]:
print( t and f ) 
print( t or f ) 
print( not t )
print( t !=f )

False
True
False
True

In [21]:
print( t & f )
print( t | f )

False
True

In [22]:
print( 0<1 & 0<2)   # since do & first then 0<2 then it's false
print( 0<1 and 0<2)

False
True

In [3]:
hello = 'hello'
world = "world"
again = """Hello
learning python
         there """
print(hello,len(hello))
print(again)

hello 5
Hello
learning python
         there

In [6]:
hw = hello + ' ' + world 
print(hw, hello)

hello world hello

In [7]:
print('%13s %13s %d' % (hello,world ,12))

        hello         world 12

In [8]:
print(f"I want to say {hello} to the {world}!")  #f-string

I want to say hello to the world!

In [10]:
print(s.capitalize)
print(s.upper() )

NameError: ignored

In [18]:
xs=[3,1,1,2]
print(xs,xs[2])
print(xs[-1])
print(xs[-2])

[3, 1, 1, 2] 1
2
1

In [19]:
xs[2]='foo'
print(xs)

[3, 1, 'foo', 2]

In [20]:
xs.append('bar')   #Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 2, 'bar']

In [21]:
x=xs.pop()  # remove and return the last element of the list 
print(x)
print(x,xs)

bar
bar [3, 1, 'foo', 2]

In [22]:
xs = [3,1,5,1,3,2]   
xs2=[10,11]
xs.append(xs2)
print(xs)

[3, 1, 5, 1, 3, 2, [10, 11]]

In [23]:
xs_another=[100,1000,200]
xs.extend(xs_another)   # Add one list to another list 
print(xs)               # careful of append and extend, they are different

[3, 1, 5, 1, 3, 2, [10, 11], 100, 1000, 200]

In [25]:
nums = range(5)
print(nums)

range(0, 5)

Slicing

In [26]:
nums = [0,1,2,3,4]
print(nums[2:4])   # Get a slice from index 2 to 4 (exclusive)
print(nums[2:])    # get a slice from index2 to the end 
print(nums[:2])   # get a slice from the start to index 2  
print(nums[:])    # give the whole 
print(nums[:-1])  # slice indices can be nagetive 
nums[2:4] = [8,8,23,56,9] # Assign a new sublist to a slice 
print(nums)

[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 8, 23, 56, 9, 4]

Loops

In [28]:
animals = ['cat','dog','monkey']
i=0
for animal in animals :
  print (i)
  i +=1
  print(animal)

0
cat
1
dog
2
monkey

In [31]:
animals = ['cat','dog','monkey']
for idx, animal in enumerate(animals):
  print('#%d: %s' % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

In [33]:
nums = [0,1,2,3,4]
squares = [x **2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [34]:
nums = [0,1,2,3,4]
even_squares=[x ** 2 for x in nums if x % 2 ==0 ]
print(even_squares)  # only print even result

[0, 4, 16]

Distinaries
A dictionay stores(key,value) pairs, smilar to a map in Java

In [36]:
d = {'cat': 'cute','dog': 'furry'}
print(d['cat'])
print('cat' in d) # check if a dictionary has a given key

cute
True

In [38]:
d['fish']='wet'
print(d['fish'])

wet

In [40]:
print(d.get('monkey','N/A'))
print(d.get('fish','N/A'))

N/A
wet

In [41]:
del d['fish']    # Remove an element from a dictionary
print(d.get('fish','N/A'))  # 'fish' is no longer a key: print "N/A"

N/A

In [42]:
d = {'person':2,'cat':4,'spider':8}
for animal in d:
  legs = d[animal]
  print('A %s has %d legs' % (animal,legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [43]:
d = {'person':2,'cat':4,'spider':8}
for animal,legs in d.items():
  legs = d[animal]
  print('A %s has %d legs' % (animal,legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [47]:
d={'a':2,'c':4,'d':1,'b':10}
for animal, legs in sorted(d.items(),key=lambda x:x[0]):     # sort by key 
  print('%s - %d' % (animal,legs))

print('')
for animal, legs in sorted(d.items(),key =lambda x:x[1]):   # sort by value

a - 2
b - 10
c - 4
d - 1

d - 1
a - 2
c - 4
b - 10

In [49]:
nums = [0,1,2,3,4]
even_nums_to_square = {x: x ** 2 for x in nums if x % 2==0}
print(even_nums_to_square)

{0: 0, 2: 4, 4: 16}

Sets:   order is not important anymore, can not have duplicates

In [51]:
animal =  {'cat','dog','cat'}  # set
print(animal)

{'cat', 'dog'}

In [53]:
animal =  ['cat','dog','cat'] # list
print(animal)
animal=set(animal)           # change list to set
print(animal)

['cat', 'dog', 'cat']
{'cat', 'dog'}

In [56]:
animal.add('fish') # add an element to a set
print('fish' in animal)
print(len(animal))

True
3

In [58]:
animal.add('fish') # add an element to a set
print(len(animal))
animal.remove('cat')
print(len(animal))

3
2

In [65]:
animal =  {'cat','dog','fish'}
for idx, a in enumerate(animal):
  print('#%d: %s' % (idx + 1, a) )

#1: cat
#2: dog
#3: fish

In [67]:
from math import sqrt
myset = [int(sqrt(x)) for x in range(30)]
print(myset)

[0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]

Tuple: is an ordered list of values. can be used as keys in dictionaries and as elements of sets,while lists cannot.

In [68]:
d = {(x,x+1): x for x in range(10)}  # create a distionary with  tuple keys
print(d)
t=(5,6)
print (type(t))
print(d[t])
print(d[(1,2)])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

Functions

In [72]:
def sign(x):
  if x > 0 :
     return 'positve'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

for x in [-1,0,1]:
    print(sign(x))

negative
zero
positve

In [74]:
def hello(name, loud= False):
    if loud :
       print('HELLO, %s' %name.upper())
    else :
       print ('Hello, %s!' % name)

In [75]:
hello('Fred')

Hello, Fred!

In [76]:
hello('Fred',True)

HELLO, FRED

Classes: all classes create objects and all objexts contain characteristics called attributes.

The first argument of a method is self

In [112]:
class A:

  def __init__(self,hi):
    self.coo = hi

  def print_something(self):
    print(self.coo)

a = A("hello")

a.print_something()

hello

In [111]:
a.coo

'hello'

In [83]:
class Greeter:
  name = ""
  def __init__(self,name):    # create object initilization
    self.name = name 
  def greet(self,loud = False):
    if loud:
      print('HELLO')
    else :
      print("Hello")

In [94]:
g = Greeter
g.name
#g.greet()
#g.greet(loud=True)

''

In [96]:
abc = [1,2,3]
type(abc)
abc

AttributeError: ignored

In [89]:
a_list = [1,2,3]
a_list.append
type(a_list)

list